# Data Science Tools and Ecosystem

In this notebook, you will see a lot of information about Data Science Tools and Ecosystem.

Objectives:

- Making arithmetic expression examples
- Create tables
- List popular languages for Data Science
- Create title using diferent style heading

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2.  Numpy
3. TensorFlow

|Data Science Tools|
|--|
|JupyterLab|
|GoogleColab|
|VisualStudio Code|

### Down here there are some examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Enrique Millan